In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("収入支出管理表.csv")
df.head()

         date category amount                 memo
0  2022/07/24      その他   ¥120  スティックノリ(TOEIC写真貼る用)
1  2022/07/24      その他   ¥100                    水
2  2022/07/24      その他   ¥900      TOEIC用写真(写真証明機)
3  2022/07/24    旅費交通費   ¥377          電車（海老名→淵野辺）
4  2022/07/25     自己投資   ¥270                コメダ珈琲

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1103 non-null   object
 1   category  1106 non-null   object
 2   amount    1106 non-null   object
 3   memo      1104 non-null   object
dtypes: object(4)
memory usage: 34.7+ KB

In [6]:
import time

In [8]:
for i in range(100):
    print(i)
    time.sleep(0.2)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99